.popups-overlay {
  position: absolute;
  top:0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(41,41,41,0.7);
}
.popups-container {
 font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content:center;
  width: 100%;
  min-height: 250px;
  background-color: #0c0c0c;
}