.makepost-container {
  min-height: 100vh;
  background-color: #292929;
  padding: 0.75rem 1.25rem 0 1.25rem;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
}
.makepost-navigation {
  display: flex;
  justify-content: flex-end;
  font-size: 1.25rem;
}

.makepost-save {
  cursor: pointer;
}
.makepost-desc {
  background-color: #535353;
  color: white;
  border: none;
  font-family: "Noto Sans", sans-serif;
  padding: 0.25rem 0.5rem 4rem 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.makepost-title {
  height: 50px;
  background-color: #535353;
  color: white;
  border: none;
  font-family: "Noto Sans", sans-serif;
  padding: 0.25rem 0.5rem 4rem 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.makepost-tags {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.makepost-tags > button {
  color: white;
  border: none;
  padding: 0.4rem;
  font-family: "Noto Sans", sans-serif;
  border-radius: 14px;
  cursor: pointer;
}
.makepost-tags-NSFW {
  background-color: rgb(209, 66, 47);
}
.makepost-tags-Mood {
  background-color: rgb(1, 111, 201);
}
.makepost-tags-Quotes {
  background-color: rgb(183, 47, 224);
}
.makepost-tags-Shitpost {
  background-color: rgb(197, 186, 23);
}
.makepost-tags-None {
  background-color: grey;
}
.makepost-tags-selected {
  background-color: teal;
  box-shadow: 0px 0px 10px 7px rgb(0, 204, 160);
}
input[type="file"] {
  display: none;
}
.makepost-file-label {
  background-color: #0386d1;
  margin: 1rem 0;
  border-radius: 12px;
  max-width: 40%;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.makepost-file-label::before {
  font-size: 1rem;
  content: "Upload image";
}
.makepost-img-preview > img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.makepost-img-preview {
  margin-bottom: 1rem;
}

/* Post.css */

.posts {
  background-color: rgb(49, 49, 49);
  margin-bottom: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  font-family: "Noto Sans", sans-serif;
}
.posts-title {
  font-size: 1.15rem;
  font-weight: 700;
}

.posts-tags {
  color: white;
  border: none;
  margin: 0.75rem 0 0.75rem 0;
  font-size: 0.75rem;
  font-family: "Noto Sans", sans-serif;
  border-radius: 14px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}
.posts-tags-NSFW {
  background-color: rgb(209, 66, 47);
}
.posts-tags-Mood {
  background-color: rgb(1, 111, 201);
}
.posts-tags-Quotes {
  background-color: rgb(183, 47, 224);
}
.posts-tags-Shitpost {
  background-color: rgb(197, 186, 23);
}
.posts-tags-None {
  background-color: grey;
}
.comments-title {
  margin-top: 1rem;
  font-size: 1rem;
}
.comments-opened {
  text-align: start;
}
.comments-interact {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: row;
  align-items: center;
}
.comment-input {
  margin-left: 1rem;
  background-color: #3b3b3b;
  color: white;
  padding: 0.75rem 0.5rem;
  border-radius: 12px;
}
.comment-input:focus {
  outline: none;
  box-shadow: 0px 0px 12px 1px rgb(0, 204, 160);
}
.user-avatar {
  cursor: pointer;
  width: 40px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.post-image {
  margin-top: 1rem;
  width: 100%;
  object-fit: cover;
}

.search-bar {
  text-align: start;
  margin-left: 1rem;
  width: 50%;
  align-self: center;
}
