.comments-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.author-ava-container {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  overflow: hidden;
  grid-area: ava;
}

.author-ava {
  cursor: pointer;
  width: 36px;
  height: 55px;
  object-fit: cover;
  overflow: hidden;
}
.comments-info-container {
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  margin-top: 0.5rem;
  padding: 1rem 0 1rem 1rem;
  background-color: #3b3b3b;
  border-radius: 24px;
}
.author-name {
  font-weight: 700;
  grid-area: username;
}

.comments-author-info {
  display: grid;
  font-size: 0.85rem;
  align-items: center;
  row-gap: 0rem;
  grid-template-columns: 0.4fr 0.8fr 1fr 0.2fr;
  grid-template-areas:
    "ava username date delete"
    ".   .  .  . ";
}

.comment-date {
  grid-area: date;
}
.comment-date::before {
  content: "o";
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.comment-content {
  color: rgb(197, 197, 197);
  margin-top: 0.75rem;
  font-size: 0.85rem;
}
.comment-delete {
  cursor: pointer;
  grid-area: delete;
}
.comment-delete-title {
  font-size: 1rem;
  font-weight: 700;
}
.comment-delete-confirm{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.comment-delete-confirm-yes {
  background-color: rgb(0, 143, 95);
  padding:0.5rem 2rem 0.5rem 2rem;
}
.comment-delete-confirm-no {
  background-color: rgb(248, 69, 69);
  padding:0.5rem 2rem 0.5rem 2rem;
}
