.register-container {
  text-align: center;
}
.register-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  min-width: 100%;
  margin-top: 3rem;
}
.register-title {
  font-weight: 700;
  font-size: 1.75rem;
  padding: 1.25rem;
  background-color: #631dbc;
  background-image: linear-gradient(
    225deg,
    #631dbc 0%,
    #1e0144 100%
  );

}

.register-email,
.register-password,
.register-username {
  font-size: 0.85rem;
}

.register-error {
  margin-top: 1rem;
  align-self: center;
  color: rgb(255, 0, 55);
}

.email-label,
.username-label,
.password-label {
  font-size: 0.85rem;
}

.register-login {
  font-size: 1rem;
  margin-top: 2rem;
}
.register-login-link {
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  color: #7bc5fa;
  font-weight: 700;
}
.errorMsg {
  text-align: start;
  font-size: 0.85rem;
  font-weight: 500;
  color: rgb(253, 81, 81);
  margin-bottom: 1rem;
}
.register-err {
  font-size: 0.85rem;
  color: rgb(255, 77, 77);
}
.register-input > form {
  display: flex;
  font-size: 0.85rem;
  font-weight: 600;
  flex-direction: column;
  max-width: 200px;
  justify-content: flex-start;
  align-items: flex-start;
}
