.leaderboard-header {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.leaderboard-topten {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.leaderboard-users {
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;
  padding: 0.5rem 0;
  background-color: grey;
}
.leaderboard-img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.leaderboard-info {
  display: flex;
  width: 100%;
  align-items: center;
}
.leaderboard-first {
  display: flex;
  cursor: pointer;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;
  border-radius: 8px;
  background-color: grey;
  box-shadow: 0px 0px 13px 5px rgb(199, 179, 0);
  padding: 0.5rem 0;
  /* background-color: rgb(209, 161, 1); */
}
.leaderboard-second {
  display: flex;
  cursor: pointer;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;
  border-radius: 8px;
  background-color: grey;
  box-shadow: 0px 0px 13px 7px rgb(173, 173, 173);
  padding: 0.5rem 0;
}
.leaderboard-third {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;
  border-radius: 8px;
  background-color: grey;
  box-shadow: 0px 0px 13px 7px rgba(175, 56, 1, 0.877);
  padding: 0.5rem 0;
}
.leaderboard-karmas {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.trophy-first {
  margin-left: 1.5rem;
}
