*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  min-height: 100vh;
}
.App {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  margin-bottom: 4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  text-align: left;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.15rem;
  font-family: "Noto Sans", sans-serif;
  background-color: #0c0c0c;
  color: white;
}
.loading {
  color: white;
  text-align: center;
}
.error {
  color: rgb(255, 56, 56);
  text-align: center;
}
.userprofile-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.post-big-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
