.feed-container {
  height: 100vh;
  width: 100%;
  background-color: #0c0c0c;
}
.feed-container-opened {
  height: 100vh;
  background-color: #0c0c0c;
  width: 30%;
  align-self: end;
  transition: width 300ms;  
  overflow-x:hidden;
}
.feed-logo {
  font-size: 1.5rem;
  height: 80px;
  font-family: "Noto Sans", sans-serif;
  font-size: 700;
  background-color: #222222;
}
.feed-logo-img {
  width: 60px;
  margin:0.5rem 0 0 1rem;
  cursor: pointer;
  height: 60px;
  object-fit: cover;
  overflow: hidden;
}
.feed-sidebar-opened {
  display: flex;
  flex-direction: column;
  padding:1rem;
  position: absolute;
  height: 100vh;
  background-color: #222222;
  color: rgb(219, 218, 218);
  width: 70%;
  transition: transform 300ms;  
}
.feed-sidebar{
  display: flex;
  flex-direction: column;
  padding:1rem;
  position: absolute;
  height: 100vh;
  background-color: #222222;
  color: rgb(219, 218, 218);
  width: 70%;
  transition: transform 300ms;  
  transform: translateX(-100%);
}
.footer{
  background-color: rgb(58, 58, 58);

}