.feed-container {
  height: 100vh;
  width: 100%;
  background-color: #0c0c0c;
}
.feed-container-opened {
  height: 100vh;
  background-color: #0c0c0c;
  width: 30%;
  align-self: flex-end;
  transition: width 300ms;
  overflow-x: hidden;
}
.feed-logo {
  padding-right: 0.75rem;
  position: relative;
  font-size: 1.5rem;
  height: 80px;
  font-family: "Noto Sans", sans-serif;
  font-size: 700;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.feed-logo-img {
  margin-right: auto;
  width: 60px;
  margin: 0.5rem 0 0 1rem;
  cursor: pointer;
  height: 60px;
  object-fit: cover;
  overflow: hidden;
}
.feed-sidebar-opened {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: absolute;
  height: 100vh;
  background-color: #222222;
  color: rgb(219, 218, 218);
  min-width: 70%;
  transition: transform 300ms;
}
.feed-sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: absolute;
  height: 100vh;
  background-color: #222222;
  color: rgb(219, 218, 218);
  min-width: 70%;
  transition: transform 300ms;
  transform: translateX(-100%);
}
.footer {
  background-color: rgb(58, 58, 58);
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-username-display {
  text-align: center;
  width: 100%;
  backdrop-filter: blur(5px);
  font-size: 1.15rem;
  margin-left: 1rem;
  border-radius: 4px;
  background: rgba(66, 66, 66, 0.78);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.4px);
  -webkit-backdrop-filter: blur(11.4px);
}
.user-container {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
}
.username-profile {
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 100%;
  height: 30px;
  width: 30px;
  object-fit: cover;
}
.message-outline{
  cursor:pointer;
  align-self:center;
  margin-left:auto;
  margin-bottom:0.5rem;
}
.message-container{
  height:100vh;
  background-color:grey;
}