.feed-container {
  height: 100vh;
  background-color: #0c0c0c;
}
.feed-container-opened {
  height: 100vh;
  background-color: #0c0c0c;
  width: 30%;
  align-self: end;
}
.feed-logo {
  font-size: 1.5rem;
  height: 80px;
  font-family: "Noto Sans", sans-serif;
  font-size: 700;
  background-color: #222222;
}
.feed-logo-img {
  width: 85px;
  cursor: pointer;
  height: 50px;
  object-fit: cover;
  overflow: hidden;
}
.feed-sidebar {
  display: flex;
  flex-direction: column;
  padding:1rem;
  position: absolute;
  height: 100vh;
  background-color: #363636;
  color: rgb(219, 218, 218);
  width: 70%;
}
